<a href="https://colab.research.google.com/github/sandeep0430/PDS-assignment2/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
from datetime import datetime

# Load the dataset (Update with your actual file path)
df = pd.read_csv('/content/train.csv')  # Replace with actual filename

# Clean column names by stripping leading/trailing spaces
df.columns = df.columns.str.strip()

# Check column names (optional)
print("Columns:\n", df.columns.tolist())

Columns:
 ['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price']

In [26]:
print("\n Count of Missing Values After Imputation:")
print(df.isnull().sum())

 Count of Missing Values After Imputation:
Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

QUESTION A:

In [27]:
#a.
# Handle missing values
for col in df.columns:
    missing_count = df[col].isnull().sum()
    if missing_count > 0:
        if pd.api.types.is_numeric_dtype(df[col]):
            median_val = df[col].median()
            df[col].fillna(median_val, inplace=True)
            print(f"Imputed {missing_count} missing values in numeric column '{col}' with median = {median_val}")
        else:
            mode_val = df[col].mode()[0]
            df[col].fillna(mode_val, inplace=True)
            print(f"Imputed {missing_count} missing values in categorical column '{col}' with mode = '{mode_val}'")

# Show count of missing values after imputation
print("\n Count of Missing Values After Imputation:")
print(df.isnull().sum())

Imputed 2 missing values in categorical column 'Mileage' with mode = '18.9 kmpl'
Imputed 36 missing values in categorical column 'Engine' with mode = '1197 CC'
Imputed 36 missing values in categorical column 'Power' with mode = '74 bhp'
Imputed 38 missing values in numeric column 'Seats' with median = 5.0
Imputed 5032 missing values in categorical column 'New_Price' with mode = '4.78 Lakh'

 Count of Missing Values After Imputation:
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

<ipython-input-27-398279c9bda4>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_val, inplace=True)
<ipython-input-27-398279c9bda4>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)

To ensure the dataset was complete, we first checked each column for any missing values. For numerical columns, we chose to fill the gaps using the median, as it's a more reliable measure in the presence of outliers and skewed distributions. For categorical data, we used the mode, since it's the most common value and helps maintain consistency without introducing unrealistic categories.

This approach allowed us to keep the original data intact rather than dropping rows or columns, preserving both data volume and structure. It also ensured that the filled values were representative of existing trends in the dataset. After completing the imputation process, the dataset was free of missing entries and fully ready for further analysis and modeling.

QUESTION B:

In [35]:
# b. Convert to string before extracting numbers from string+unit columns
df['Mileage'] = df['Mileage'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
df['Engine'] = df['Engine'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
df['Power'] = df['Power'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)

# Clean 'New_Price' column (removing 'Lakh' and converting to float)
df['New_Price'] = df['New_Price'].astype(str).str.replace(' Lakh', '', regex=False)
df['New_Price'] = df['New_Price'].str.extract(r'(\d+\.?\d*)').astype(float)
print(df[['Mileage', 'Engine', 'Power', 'New_Price']].head())

   Mileage  Engine   Power  New_Price
0    19.67  1582.0  126.20       4.78
1    13.00  1199.0   88.70       8.61
2    20.77  1248.0   88.76       4.78
3    15.20  1968.0  140.80       4.78
4    23.08  1461.0   63.10       4.78

QUESTION C:

In [29]:
# Ensure consistent column names again
df.columns = df.columns.str.strip()

# Perform one-hot encoding
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True)

print(" One-Hot Encoded DataFrame Preview:\n", df.head())

 One-Hot Encoded DataFrame Preview:
    Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0              41000      First    19.67  1582.0  126.20    5.0       4.78
1              46000      First    13.00  1199.0   88.70    5.0       8.61
2              87000      First    20.77  1248.0   88.76    7.0       4.78
3              40670     Second    15.20  1968.0  140.80    5.0       4.78
4              86999      First    23.08  1461.0   63.10    5.0       4.78

   Price  Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual
0  12.50               False             False                 True
1   4.50               False              True                 True
2   6.00               False             False                 True
3  17.74               False             False                False
4   3.50               False             False                 True

QUESTION D:

In [31]:
# Current year
current_year = datetime.now().year

# Calculate car age
df['Car_Age'] = current_year - df['Year']

print("Added 'Car_Age' column:\n", df[['Year', 'Car_Age']].head())

Added 'Car_Age' column:
    Year  Car_Age
0  2015       10
1  2011       14
2  2012       13
3  2013       12
4  2013       12

QUESTION E:

In [32]:
# Select and filter
selected_cols = df[['Name', 'Location', 'Price', 'Car_Age']]
filtered_df = selected_cols[selected_cols['Car_Age'] < 8]

# Rename column
df.rename(columns={'Kilometers_Driven': 'Odometer_km'}, inplace=True)

# Mutate new column: price per year of age
df['Price_per_Year'] = df['Price'] / (df['Car_Age'] + 1)

# Arrange/sort by descending price
sorted_df = df.sort_values(by='Price', ascending=False)

# Summarize average price by Owner Type
summary_df = df.groupby('Owner_Type')['Price'].mean().reset_index()

# Show results
print("Filtered (Age < 8):\n", filtered_df.head())
print(" Price per Year Column:\n", df[['Price', 'Car_Age', 'Price_per_Year']].head())
print(" Top Cars by Price:\n", sorted_df[['Name', 'Price']].head())
print(" Average Price by Owner Type:\n", summary_df)

Filtered (Age < 8):
                                         Name    Location  Price  Car_Age
8                           Maruti Ciaz Zeta       Kochi   9.95        7
26                       Honda WRV i-VTEC VX       Kochi   9.90        7
34             Maruti Vitara Brezza ZDi Plus       Kochi   8.63        7
65  Mercedes-Benz C-Class Progressive C 220d  Coimbatore  35.67        6
67           Hyundai Creta 1.4 E Plus Diesel      Mumbai  10.50        7
 Price per Year Column:
    Price  Car_Age  Price_per_Year
0  12.50       10        1.136364
1   4.50       14        0.300000
2   6.00       13        0.428571
3  17.74       12        1.364615
4   3.50       12        0.269231
 Top Cars by Price:
                                              Name   Price
3952  Land Rover Range Rover 3.0 Diesel LWB Vogue  160.00
5620                   Lamborghini Gallardo Coupe  120.00
5752                       Jaguar F Type 5.0 V8 S  100.00
1457              Land Rover Range Rover Sport SE   97.07
1917                           BMW 7 Series 740Li   93.67
 Average Price by Owner Type:
        Owner_Type      Price
0           First  10.105076
1  Fourth & Above   3.415000
2          Second   7.839719
3           Third   5.348058